@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
  --color-blue: #2D3AC7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-background);
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* HEADER STYLES */

ul, li, a {
    list-style: none;
    text-decoration: none;
}

nav {
    /* border: 1px dashed white; */
    background-color: transparent;
    color: #fff;
    position: absolute;
    width: 100%;
    padding: 0 10px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
}

nav * {
    background: transparent;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-list a {
    color: var(--text-color);
    font-weight: 700;
    /* border-bottom: 1px solid transparent; */
    transition: all .3s ease;
}

.nav-list a:hover {
    /* border-bottom: 1px solid #ff5b50; */
    background-color: #ff5b50;
    padding: 10px;
}

nav button {
    color: #000;
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

#mobile-logo-ct {
    display: flex;
    align-items: center;
}

#mobile-badged-img {
    display: none;
    width: 50px;
    margin-right: 5px;
}

nav button:hover {
    background-color: var(--color-logo);
    color: #fff;
}

button img {
    width: 20px;
    background-color: transparent;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /*border: 3px solid white;*/
}

.menu-btn_burguer {
    height: 3px;
    width: 25px;
    background: var(--color-logo);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burguer::before,
.menu-btn_burguer::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 25px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burguer::before {
    transform: translateY(-8px);
}

.menu-btn_burguer::after {
    transform: translateY(8px);
}

/* ANIMATION */
.open .menu-btn_burguer {
 background: transparent;
}

.open .menu-btn_burguer::before {
transform: rotate(45deg);
transition: transform .5s ease-in-out;
}

.open .menu-btn_burguer::after {
transform: rotate(-45deg);
transition: transform .5s ease-in-out;
}

.menu-btn {
    display: none;
}

/* MAIN STYLES */

.featured-ct {
    /* border: 1px dashed white; */
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 120px 10px;
}

.featured-ct * {
    background-color: transparent;
}

.highlight-color {
    color: var(--color-logo);
}

#badged-img {
    width: 150px;
}

.featured-info {
    /* border: 1px dashed red; */
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1.5fr 2fr .5fr;
    gap: 20px;
    padding: 5px 10px;
    margin: 30px auto;
}

.featured-info img {
    justify-self: flex-end;
    align-self: center;
}

.featured-info h1 {
    font-size: 3.5em;
}

.featured-info div:first-child {
    /* border: 1px dashed orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.selected-artists-ct {
    /* border: 1px dashed yellow; */
    height: 80px;
    display: flex;
    position: relative;
}

.selected-artists-ct img {
    position: absolute;
    left: 0;
    width: 80px;
}

.selected-artists-ct img:nth-child(1) {
    transform: translateX(55px);
}

.selected-artists-ct img:nth-child(2) {
    transform: translateX(40px);
}

.selected-artists-ct img:nth-child(3) {
    transform: translateX(20px);
}

.selected-artists-ct p {
    position: absolute;
    left: 140px;
    bottom: 0;
}

.gallery-grid {
    display: grid;
    margin: 100px auto 0 auto;
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 40px;
}

.gallery-item {
    border: 1px solid #fff;
    overflow: hidden;
}

.gallery-item:hover img {
    transform: scale(1.2);
    transition: all .4s ease-in-out;
}

.gallery-grid img {
    width: 100%;
    transform: scale(1.1);
    transition: all .4s ease-in-out;
    /* border: 1px solid #fff; */
}

/* SWIPER-GALLERY STYLES */

.swiper.swiper-gallery {
    display: none;
    margin-top: 100px;
    width: 100%;
    height: 240px;
}

.swiper.swiper-gallery .swiper-slide {
    max-width: 300px;
    opacity: .3;
}

.swiper.swiper-gallery .swiper-slide-active img {
    border: 1px solid white;
}

.swiper.swiper-gallery .swiper-slide-active {
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: white;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff5b50;
}

.swiper.swiper-gallery .swiper-button-next,
.swiper.swiper-gallery .swiper-button-prev {
    color: #ff5b50 !important;
    transform: translateY(-15px);
}

/* STATS SECTION STYLES */

.stats-ct {
    /* border: 1px dashed yellow; */
    background: var(--body-background);
    max-width: 1200px;
    margin: 0 auto 120px auto;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.num-cat-ct {
    grid-row: 1 / 3;
    padding: 0 10px;
    border-right: 1px solid rgba(211, 211, 211, 0.329);
    border-bottom: 1px solid rgba(211, 211, 211, 0.329);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.num-cat-ct h1 {
    font-size: 2.5em;
}

.num-cat-ct h4 {
    color: var(--subtitle-color);
}

.description-ct {
    display: flex;
    gap: 50px;
    padding: 50px;
}

.description-ct p {
    margin-top: 20px;
}

.description-ct a {
    color: #fff;
    text-decoration: underline;
}

.highlight-link {
    color: var(--color-logo);
    text-decoration: underline;
}

.stats-ct img {
    width: 100%;
}

/* POPULARES DA SEMANA STYLES */

.week-popular-ct {
    max-width: 1200px;
    margin: 0 auto 120px auto;
    padding: 0 10px;
    background-color: var(--body-background);
}

.week-popular-ct h1 {
    font-size: 2.5em;
    margin-bottom: 120px;
}

.cards-ct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.card-item-ct * {
    background: transparent;
}

.card-item-ct {
    max-width: 300px;
    position: relative;
    padding: 10px;
    overflow: hidden;
}

.card-item-ct:hover {
    cursor: pointer;
}

.card-item-ct:hover::before {
    content: '';
    position: absolute;
    top: -25%;
    left: 30%;
    width: 40%;
    height: 150%;
    background: linear-gradient(var(--color-logo), var(--color-blue));
    filter: blur(30px);
    animation: animate 4s linear infinite;
    z-index: 0;
}

.card-item-ct:hover::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--body-background);
    z-index: 1;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.left-cards-ct {
    /* border: 1px dashed red; */
    padding: 20px 0 20px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-right: 1px solid rgba(211, 211, 211, 0.329);
}

.right-cards-ct {
    /* border: 1px dashed blue; */
    padding: 20px 100px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-end;
}

.card-item-ct .arrow-logo {
    width: 20px;
}

.card-item-ct .nft-img {
    width: 100%;
}

.card-item-title {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 30px;
    z-index: 100;
}

.card-item-name-price {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 20px;
    z-index: 100;
}

.nft-name {
    color: var(--subtitle-color);
    font-weight: 700;
}

.nft-price {
    color: var(--color-logo);
    font-weight: 700;
}

.nft-img {
    position: relative;
    z-index: 100;
}

/* MELHORES ARTISTAS STYLES */

.best-artists-ct {
    /* border: 1px dashed white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 120px auto;
    padding: 0 10px;
}

.best-artists-ct h1 {
    margin-bottom: 120px;
    font-size: 2.5em;
}

.best-artists-ct div:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.artists-cards-ct {
    /* border: 1px dashed white; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5em;
    margin-bottom: 40px;
}

.artist-card-item {
    background-color: rgb(61, 61, 61);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    transition: all .4s ease;
}

.artist-card-item:hover {
    cursor: pointer;
    background: var(--color-logo);
}

.artist-card-item * {
    background-color: transparent;
}

.artist-card-item img {
    width: 90px;
}

.artist-info {
    /* border: 1px dashed white; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.artist-name {
    font-size: 1.1em;
    font-weight: 700;
}

.artist-photos-number {
    font-weight: 700;
    color: var(--color-logo);
}

.artist-card-item:hover .artist-info .artist-photos-number {
    color: #fff;
}

/* SWIPER-ARTISTS STYLES */
.swiper.swiper-artists {
    /* border: 1px dashed white; */
    display: none;
    padding-top: 30px;
    margin-bottom: 10px;
    width: 400px;
    height: 380px;
}

.swiper.swiper-artists .swiper-slide {
    max-width: 200px;
    opacity: .3;
}

.swiper-artist-card-ct {
    /* border: 1px dashed red; */
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 270px;
}

.swiper-artist-card-ct img {
    max-width: 100px;
    background-color: transparent;
}

.artist-info,
.artist-info * {
    background: transparent;
}

.swiper.swiper-artists .swiper-slide-active {
    transform: scale(1.3);
    transition: all .4s ease;
    opacity: 1;
}

.swiper.swiper-artists .swiper-slide-active .swiper-artist-card-ct {
    background-color: #ff5b50;
}

.swiper.swiper-artists .swiper-slide-active .swiper-artist-card-ct p {
    color: white;
}

.swiper.swiper-artists .swiper-button-next,
.swiper.swiper-artists .swiper-button-prev {
    color: #ff5b50;
    background-color: transparent;
    transform: translateY(-40px);
}

/* FOOTER STYLES */

.footer-ct {
    background: rgb(49, 49, 49);
    padding: 0 calc((100% - 1200px)/2);
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
}

.footer-ct * {
    background: rgb(49, 49, 49)
}

.back-to-top {
    /* border: 1px dashed blue; */
    border-bottom: 1px solid var(--subtitle-color);
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: span 2;
}

.back-to-top img {
    width: 100%;
}

#logo {
    width: 250px;
}

#black-arrow {
    width: 100%;
    background-color: #ff5b50;
    padding: 20px;
}

.email-news {
    /* border: 1px dashed white; */
    border-right: 1px solid var(--subtitle-color);
    padding: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;    
}

.email-news h3 {
    font-size: 1.4em;
}

.email-input-ct {
    /* border: 1px dashed red; */
    height: 50px;
    display: flex;
    align-items: center;
}

.email-input-ct input {
    height: 100%;
    width: 200px;
    outline: none;
    border: none;
    background-color: var(--color-input);
    padding-left: 10px;
    color: #fff;
}

.email-input-ct button {
    height: 100%;
    width: 80px;
    background-color: #fff;
    outline: none;
    border: none;
    color: #000;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.footer-navlist-ct {
    /* border: 1px dashed white; */
    display: flex;
    align-items: center;
    padding: 60px 0 60px 100px;
    gap: 50px;
}

.footer-navlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-navlist a {
    color: var(--subtitle-color);
}

.footer-navlist li:first-child a {
    color: #fff;
    font-weight: 700;
}

.social-infos-ct {
    border-top: 1px solid var(--subtitle-color);
    height: 100%;
    grid-column: span 2;    
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--subtitle-color);
}

.social-logos-ct {
    display: flex;
    gap: 3em;
}

.social-logos-ct a:hover svg path {
    stroke: var(--color-logo);
    transition: all .3s ease;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 830px) {
    body {
        overflow-x: hidden;
    }

    /* NAV STYLES */

    .nav-list {
        position: absolute;
        top: 120px;
        right: 0;
        height: 100vh;
        width: 50vw;
        background: var(--subtitle-color);
        opacity: 0;
        transform: translateX(100%);
        transition: all .4s ease;
    }

    .nav-list.active {
        opacity: 1;
        transform: translateX(0);

    }

    .menu-btn {
        display: flex;
    }

    #mobile-badged-img {
        display: block;
    }

    /* FEATURED CONTAINER STYLES */

    #badged-img {
        display: none;
    }

    .featured-info h1 {
        grid-column: span 2;
    }

    .gallery-grid {
        display: none;
    }

    .swiper.swiper-gallery {
        display: block;
    }

}